@import url('/src/root-styles.css');

.contact-container {
    background-color: var(--darkish-blue); 
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 122px);
}